@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Iso&display=swap");

body {
    background-color: #E346AE;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}

.header {
    height: 40 px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: greenyellow;
    text-align: center;
}

.info {
    position: fixed;
    bottom: 0;
    text-align: left;
    font-size: small;
    left: 0;
    height: 100px;
    width: 100%;
    color: #da6497;
    background: #282623;
}

.info p {
    padding-left: 20px;
}

.navigation {
    max-width: 250px;
    border-radius: 40px;
    top: 70px;
    border: black 5px;
    position: fixed;
    padding: 60px 60px;
    background-color: #282623;
    height: 160px;
    width: 250px;
    text-align: center;
}

.navigation a {
    color: #d0488c;
    padding: 14px 16px;
    text-align: center;
    float: left;
}




.checkers-board {
    float: left;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 400px;
    margin-top: 90px;
}

.checkers-board th {
    padding: .5em;
}

.checkers-board td {
    border: 1px solid;
    width: 3em;
    height: 3em;
    text-align: center;
    vertical-align: middle;
}

.checkers-board .white {
    background: #ffffff;
}

.checkers-board .black {
    background: #282623;
}

.whiteChecker{
    margin: 4px;
    background: #a78080;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  position: relative;
}

.blackChecker{
    margin: 4px;
    background: #b62929;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  position: relative;
}
.whiteChecker-king{
    margin: 4px;
    background: #a78080;
    outline: 4px solid gold;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  position: relative;
}
.blackChecker-king{
    margin: 4px;
    background: #b62929;
  border-radius: 100px;
  outline: 4px solid gold;
  height: 40px;
  width: 40px;
  position: relative;
}
.start{
   margin-top: 370px;
   margin-left: 20px;
    position: fixed;
}
.firstExample{
    margin-top: 370px;
   margin-left: 150px;
    position: fixed;
}
.end{
    margin-top: 450px;
    margin-left: 20px;
     position: fixed;
 }
 .end input{
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: #d0488c;
    background-color: #57534c;
}
 .cancel{
    margin-top: 450px;
    margin-left: 150px;
    position: fixed;
 }
 .cancel input{
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: #d0488c;
    background-color: #57534c;
}
.firstExample input{
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: #d0488c;
    background-color: #282623;
}
.start input{
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: #d0488c;
    background-color: #282623;
}
.parse{
    margin-top: 420px;
    margin-left: 81%;
     position: fixed;
 }
 .parse input{
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #d0488c;
    background-color: #282623;
}
.white-turn-text{
    text-align: center;
    margin-top: 520px;
    margin-left: 30px;
     position: fixed;
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #110d0f;
    background-color: #d29ec9;
}

.white-turn-text p{
    margin-top: 20px;
}
.black-turn-text p{
    margin-top: 20px;
}
.win-text p{
    margin-top: 20px;
}
.black-turn-text{
    text-align: center;
    margin-top: 520px;
    margin-left: 30px;
     position: fixed;
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #d0488c;
    background-color: #282623;
    display: none;
}
.win-text{
    text-align: center;
    margin-top: 520px;
    margin-left: 30px;
     position: fixed;
    font-size:x-small;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #1a0c13;
    background-color: #c8ff00;
    display: none;
}
.inputText{
    color: #d0488c;
    background-color: #1a1307;
    width: 300px;
    position: fixed;
    height: 300px;
}

.partsText{
    border-collapse: collapse;
    float: right;
    margin-top: 100px;
    margin-right: 300px;
   
}

.partsText textarea{
    padding: 10px;
    resize: none;
    border-color: #141312;
    box-shadow: #141312;
    border-radius: 10px;
    background-color: #282623;
    color: #f8c6df;
}

.partsInput{
    position: fixed;
    border-collapse: collapse;
    float: right;
    margin-left: 80%;
    margin-top: 83px;
    margin-right: 20px;
   
}

.partsInput textarea{
    padding: 10px;
    resize: none;
    border-color: #141312;
    box-shadow: #141312;
    border-radius: 10px;
    background-color: #282623;
    color: #f8c6df;
}

.helloText {
    left: 300px;
    right: 100px;
    top: 100px;
    padding: 100px;
    position: fixed;
    text-align: center;
}

.rulesText{
    font-size: small;
    position: fixed;
    left: 300px;
    top: 70px;
    padding-left: 100px;
}
.rulesText li{
    padding: 20px 20px;
}
.recordingText{
    font-size: small;
    position: fixed;
    left: 300px;
    top: 70px;
    padding-left: 150px;
}
.recordingText li{
    padding: 20px 20px;
}
