<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Checkers App</title>
  <link rel ="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div  class="header"> Checkers </div>
  </header>
  <div >
    <nav class="navigation">
            <a href="index.html"> Главная</a>
            <a href="game.html"> Играть</a>
            <a href="rules.html"> Правила</a>
            <a href="recording.html">Запись партий</a>
    </nav>
  </div>
  <table class="checkers-board" id="board">
    <tbody>
     <tr>
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
      <th>f</th>
      <th>g</th>
      <th>h</th>
     </tr>
     <tr>
      <th>8</th>
      <td class="white" id="a8"></td>
      <td class="black" id="b8"><div class="whiteChecker" id="0"></div></td>
      <td class="white" id="c8"></td>
      <td class="black" id="d8"><div class="whiteChecker"  id="1"></div></td>
      <td class="white" id="e8"></td>
      <td class="black" id="f8"><div class="whiteChecker"  id="2"></div></td>
      <td class="white" id="g8"></td>
      <td class="black" id="h8"><div class="whiteChecker"  id="3"></div></td>
     </tr>
     <tr>
      <th>7</th>
      <td class="black" id="a7"><div class="whiteChecker"  id="4"></div></td>
      <td class="white" id="b7"></td>
      <td class="black" id="c7"><div class="whiteChecker"  id="5"></div></td>
      <td class="white" id="d7"></td>
      <td class="black" id="e7"><div class="whiteChecker"  id="6"></div></td>
      <td class="white" id="f7"></td>
      <td class="black" id="g7"><div class="whiteChecker"  id="7"></div></td>
      <td class="white" id="h7"></td>
     </tr>
     <tr>
      <th>6</th>
      <td class="white" id="a6"></td>
      <td class="black" id="b6"><div class="whiteChecker"  id="8"></div></td>
      <td class="white" id="c6"></td>
      <td class="black" id="d6"><div class="whiteChecker"  id="9"></div></td>
      <td class="white" id="e6"></td>
      <td class="black" id="f6"><div class="whiteChecker" id="10"></div></td>
      <td class="white" id="g6"></td>
      <td class="black" id="h6"><div class="whiteChecker"  id="11"></div></td>
     </tr>
     <tr>
      <th>5</th>
      <td class="black" id="a5"></td>
      <td class="white" id="b5"></td>
      <td class="black" id="c5"></td>
      <td class="white" id="d5"></td>
      <td class="black" id="e5"></td>
      <td class="white" id="f5"></td>
      <td class="black" id="g5"></td>
      <td class="white" id="h5"></td>
     </tr>
     <tr>
      <th>4</th>
      <td class="white" id="a4"></td>
      <td class="black" id="b4"></td>
      <td class="white" id="c4"></td>
      <td class="black" id="d4"></td>
      <td class="white" id="e4"></td>
      <td class="black" id="f4"></td>
      <td class="white" id="g4"></td>
      <td class="black" id="h4"></td>
     </tr>
     <tr>
      <th>3</th>
      <td class="black" id="a3"><div class="blackChecker"  id="12"></div></td>
      <td class="white" id="b3"></td>
      <td class="black" id="c3"><div class="blackChecker"  id="13"></div></td>
      <td class="white" id="d3"></td>
      <td class="black" id="e3"><div class="blackChecker" id="14"></div></td>
      <td class="white" id="f3"></td>
      <td class="black" id="g3"><div class="blackChecker" id="15"></div></td>
      <td class="white" id="h3"></td>
     </tr>
     <tr>
      <th>2</th>
      <td class="white" id="a2"></td>
      <td class="black" id="b2"><div class="blackChecker"  id="16"></div></td>
      <td class="white" id="c2"></td>
      <td class="black" id="d2"><div class="blackChecker"  id="17"></div></td>
      <td class="white" id="e2"></td>
      <td class="black" id="f2"><div class="blackChecker"  id="18"></div></td>
      <td class="white" id="g2"></td>
      <td class="black" id="h2"><div class="blackChecker"  id="19"></div></td>
     </tr>
     <tr>
      <th>1</th>
      <td class="black" id="a1"><div class="blackChecker"  id="20"></div></td>
      <td class="white" id="b1"></td>
      <td class="black" id="c1"><div class="blackChecker"  id="21"></div></td>
      <td class="white" id="d1"></td>
      <td class="black" id="e1"><div class="blackChecker"  id="22"></div></td>
      <td class="white" id="f1"></td>
      <td class="black" id="g1"><div class="blackChecker"  id="23"></div></td>
      <td class="white" id="h1"></td>
     </tr>
    </tbody>
   </table>
   
   
   <div class="partsText">
    <p>Запись партии:</p>
    <textarea cols="33" rows="25" id="text">
    </textarea>
   </div>
   <div class="partsInput">
    <p>Повторить запись партии:</p>
    <textarea cols="25" rows="15" id="textInput">
      </textarea>
   </div>
   <div class="parse"><input type="button" value="Повторить" onclick="parse()"/></div>
   <div class="start"><input type="button" value="Начать" onclick="start()"/></div>
   <div class="firstExample"><input type="button" value="Пример 1" onclick="firstExample()"/></div>
   <div class="white-turn-text"><p>Ходят белые</p></div>
   <div class="black-turn-text"><p>Ходят красные</p></div>
   <div class="win-text"><p id="win"></p></div>
   <div class="end"><input type="button" value="Завершить" /></div>
   <div class="cancel"><input type="button" value="Отменить"/></div>
   <div class="info">
    
    <p>© 2023 О.Солопова</p>
    <p>slpvs2002@gmail.com</p>
   </div>
   <script src="../static/js/script.js"></script>
</body>

</html>