<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Checkers App</title>
    <link rel="#home" href="home.html">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header"> Checkers </div>
    </header>
    <div>
        <nav class="navigation">
            <div> <a href="index.html"> Главная</a></div>
            <a href="game.html"> Играть</a>
            <a href="rules.html"> Правила</a>
            <a href="recording.html">Запись партий</a>
        </nav>
    </div>
    <div class="recordingText">
        <ul>
            <li>
                Партии в турнирах и матчах ведутся под запись — каждый игрок записывает ходы в бланк по правилам
                шашечной нотации.
                Ходом считается пара из двух последовательных полуходов — хода белых и хода чёрных, эти пары и
                записываются,
                по два полухода под одним номером.
            </li>
            <li>
                В русских шашках обозначение полей сходно с обозначениями,
                принятыми в шахматах: горизонтальные ряды обозначаются цифрами от 1 до 8,
                вертикальные ряды обозначаются латинскими буквами от а до h.
                Для записи хода простой шашки или дамки записывают сначала поле, где шашка или дамка стояла,
                затем ставят тире и записывают поле, на которое она ставится (например: f4-g5).
                При записи взятия (боя) вместо тире ставится двоеточие. Запись f4:h6 означает ход с поля f4 на h6 со
                взятием шашки,
                стоящей на поле g5, а f4:h6:f8:c5:g1 — ход со взятием четырёх шашек.
            </li>
        </ul>
        <p>Пример записи начала партии</p>
        <ol>
            <li>
                e3-d4 d6-c5
            </li>
            <li>
                g3-f4?? c5:e3:g5
            </li>
            <li>
                3. ...
            </li>
        </ol>

    </div>
    <div class="info">
        <p>© 2023 О.Солопова</p>
        <p>slpvs2002@gmail.com</p>
    </div>
</body>

</html>