<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Checkers App</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header"> Checkers </div>
  </header>
  <div>
    <nav class="navigation">
      <a href="index.html">Главная</a>
      <a href="game.html">Играть</a>
      <a href="rules.html">Правила</a>
      <a href="recording.html">Запись партий</a>
    </nav>
  </div>
  <div class="rulesText">
    <ul>
      <li>
        Игровое поле представляет собой квадратную доску размером 8x8 клеток,
        подобную шахматной. Вертикали (столбцы) обозначаются латинскими буквами от a до h,
        а горизонтали (строки) - цифрами от 1 до 8. В отличие от шахмат игровыми считаются не все,
        а только темные поля.
      </li>
      <li>
        Например, поле a1 - игровое, а поле c4 - нет.
      </li>
      <li>
        Каждая из сторон в начале игры имеет по 12 шашек.
        Шашки расставляются на трех, ближайших к игрокам, горизонталях.
        В частности, белые шашки располагаются на полях a1, c1, e1, g1, b2, d2, f2, h2, a3, c3, e3 и g3,
        а черные, соответственно, на полях h8, f8, d8, b8, g7, e7, c7, a7, h6, f6, d6 и b6.
        Два центральных ряда полей остаются свободными. Здесь, на этих полях,
        происходит сближение и первое соприкосновение противостоящих сил,
        здесь с первых же ходов разворачивается борьба за обладание центром,
        что дает весомое преимущество в шашках. Расстановка начальной позиции показана на диаграмме слева.
      </li>
    <li>
      Противники ходят поочередно, перемещая шашки своего цвета по игровым полям.
    </li>
    <li>
      Первыми начинают белые. Возникающие на доске ситуации называют позициями, или положениями.
       Проведенная от начала и до завершения игра называется партией, а передвижения шашек - ходами.
    </li>
    <li>
      Выигрывает та сторона, которой удалось уничтожить или заблокировать движение всех шашек противника.
    </li>
    </ul>
  </div>
  <div class="info">
    <p>© 2023 О.Солопова</p>
    <p>slpvs2002@gmail.com</p>
  </div>
</body>

</html>